:root {
  --bg: #f0eef1;
}

* {
  font-family: 'Poppins', sans-serif;
  margin: 0;
  padding: 0;
}

body {
  /* display: grid; */
  /* grid-template-columns: 2fr 3fr; */
  /* gap: 10%; */
  /* margin: 5% 10%; */
  /* font-size: 18px; */
  background-color: var(--bg);
}

/* testing here the layout - mb change later */
.app {
  display: grid;
  grid-template-columns: 2fr 3fr;
  gap: 10%;
  margin: 5% 5%;
  font-size: 18px;
  /* background-color: var(--bg); */
}

.canvas {
  background-color: white;
}

.block {
  padding: 30px;
  margin: 20px;
  background-color: white;
  border-radius: 10px;
  box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.1);
}

form {
  display: flex;
  flex-direction: column;
  gap: 10px;
  font-size: 18px;
  margin-top: 10px;
}
label {
  font-weight: 700;
  margin-bottom: 8px;
}

input,
textarea {
  font-size: 18px;
  display: flex;
  flex-direction: column;
  width: 90%;
  background-color: var(--bg);
  border: none;
  border-radius: 10px;
  padding: 10px 10px;
  color: rgb(59, 59, 59);
  margin-top: 5px;
}

.editBtn {
  margin-top: 10px;
  /* background-color: #f2f2f2; */
  font-family: 'Poppins', sans-serif;
  font-size: 16px;
  padding: 8px 12px;
  /* border: 1px solid #cfcfcf; */
  border: none;
  background-color: white;
}

button:hover {
  cursor: pointer;
}

.header {
  display: flex;
  /* gap: 5px; */
  justify-content: space-between;
  align-items: center;
}

.header button {
  margin-top: 10px;
  background-color: #f2f2f2;
  font-family: 'Poppins', sans-serif;
  font-size: 16px;
  padding: 8px 12px;
  border: 1px solid #cfcfcf;
  border-radius: 10px;
  /* border: none; */
  /* background-color: white; */
}
